<div class="content-header ps-7">
	<button type="button" class="icon ph ph-arrow-left ms-n4 me-5 d-md-none" data-sa-toggle="list">
		<span class="visually-hidden">Back</span>
	</button>

	<nav class="d-flex align-items-center gap-1 ms-n2">
		<button type="button" class="icon ph ph-info d-none d-sm-flex">
			<span class="visually-hidden">Info</span>
		</button>
		<button type="button" class="icon ph ph-archive">
			<span class="visually-hidden">Archive</span>
		</button>
		<button type="button" class="icon ph ph-trash">
			<span class="visually-hidden">Delete</span>
		</button>
		<button type="button" class="icon ph ph-clock">
			<span class="visually-hidden">Schedule</span>
		</button>
		<button type="button" class="icon ph ph-dots-three-circle">
			<span class="visually-hidden">more</span>
		</button>
	</nav>

	<button type="button" class="btn btn-highlight ms-auto">
		<i class="ph ph-pencil-simple-line"></i>
		Compose
		<span class="ms-1 d-none d-sm-block">Mail</span>
	</button>
</div>
