<aside class="content-sidebar" id="sidebar-secondary">
	<button type="button" class="icon sidebar-close d-xl-none" id="sidebar-secondary-close">
		<i class="ph ph-x pe-none fs-5"></i>
		<span class="visually-hidden">Close</span>
	</button>

	<header class="content-header">
		<h2 class="m-0 text-body-emphasis fs-6">Mail</h2>
	</header>

	<div class="content-body pt-3" data-simplebar>
		<div class="fs-7 text-body-secondary mb-3 lh-1">Mailboxes</div>

		<nav class="nav nav-pills flex-column mb-8 ms-n2.5">
			<a class="nav-link active" aria-current="page" href="#"><i class="ph ph-tray"></i>Inbox</a>
			<a class="nav-link" href="#"><i class="ph ph-star"></i>Starred</a>
			<a class="nav-link" href="#"><i class="ph ph-clock"></i>Scheduled</a>
			<a class="nav-link" href="#"><i class="ph ph-flag"></i>Important</a>
			<a class="nav-link" href="#"><i class="ph ph-paper-plane-right"></i>Sent</a>
			<a class="nav-link" href="#"><i class="ph ph-file-dashed"></i>Draft</a>
			<a class="nav-link" href="#"><i class="ph ph-info"></i>Spam</a>
			<a class="nav-link" href="#"><i class="ph ph-trash"></i>Trash</a>
		</nav>

		<div class="fs-7 text-body-secondary mb-3 lh-1">Categories</div>

		<nav class="nav nav-pills flex-column mb-8 ms-n2.5">
			<a class="nav-link" href="#"><i class="ph ph-folder text-success"></i>Promotions</a>
			<a class="nav-link" href="#"><i class="ph ph-folder text-warning"></i>Social</a>
			<a class="nav-link" href="#"><i class="ph ph-folder text-primary"></i>Work</a>
			<a class="nav-link" href="#"><i class="ph ph-folder text-danger"></i>Updates</a>
			<a class="nav-link" href="#"><i class="ph ph-folder text-purple"></i>Forums</a>
			<a class="nav-link" href="#"><i class="ph ph-folder text-info"></i>Conversations</a>
		</nav>
	</div>
</aside>
