<header class="header">
	<!-- Sidebar toggle -->
	<button type="button" class="sidebar-toggle icon d-xl-none me-2 ms-n2.5">
		<svg class="pe-none" width="15" height="12" viewBox="0 0 16 13" fill="none">
			<path d="M1 1H15M1 6.25H10.5455M1 11.5H15" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
		</svg>
		<span class="visually-hidden">Open Sidebar</span>
	</button>

	<a class="logo d-none d-sm-block" href="index.html">Super Admin 3.0</a>

	<i class="ms-auto"></i>

	<div class="content-search d-none d-lg-flex">
		<i class="ph ph-magnifying-glass fs-5"></i>
		<input type="text" class="form-control" placeholder="Search..." />
	</div>

	<ul class="header-menu ms-6 ms-xl-10">
		<!-- Search -->
		<li class="d-lg-none">
			<button
				type="button"
				class="ph ph-magnifying-glass"
				data-bs-toggle="dropdown"
				data-bs-display="static"
				data-bs-auto-close="outside"
				aria-expanded="false"
			>
				<span class="visually-hidden">Search</span>
			</button>

			<div class="dropdown-menu header-dropdown-menu">
				<div class="d-flex align-items-center px-4 h-11 flex-shrink-0">
					<div class="text-body-emphasis fw-medium">Search</div>

					<button type="button" class="icon ph ph-gear ms-auto me-n1">
						<span class="visually-hidden">Settings</span>
					</button>
				</div>

				<div class="d-flex align-items-center mb-6 mx-n0.5 px-4">
					<i class="ph ph-magnifying-glass ms-3 me-n7 fs-5 position-relative"></i>
					<input type="text" class="form-control form-control ps-9" placeholder="Type a keyword..." aria-label="Search" />
				</div>

				<div class="fs-7 text-body-secondary mb-1 px-4">Recent Searches</div>

				<div class="flex-grow-1 pb-1 mx-n2 px-2" data-simplebar>
					<div id="recent-searches"></div>
				</div>
			</div>
		</li>

		<!-- Notifications -->
		<li class="dropdown header-notify">
			<button type="button" class="ph ph-bell" data-bs-toggle="dropdown" data-bs-display="static" data-bs-auto-close="outside" aria-expanded="false">
				<span class="visually-hidden">Notifications</span>
			</button>
			<div class="dropdown-menu header-dropdown-menu">
				<div class="d-flex align-items-center px-4 h-11 flex-shrink-0">
					<div class="text-body-emphasis fw-medium">Notifications</div>

					<div class="d-flex ms-auto gap-px me-n2">
						<button type="button" class="icon ph ph-check-circle">
							<span class="visually-hidden">Mark as read</span>
						</button>
						<button type="button" class="icon ph ph-app-window">
							<span class="visually-hidden">Open Notifications</span>
						</button>
						<button type="button" class="icon ph ph-gear">
							<span class="visually-hidden">Settings</span>
						</button>
					</div>
				</div>
				<div class="flex-grow-1 px-1 pb-1" data-simplebar>
					<div id="top-notifications"></div>
				</div>
			</div>
		</li>

		<!-- Ongoing Tasks -->
		<li class="dropdown d-none d-sm-block">
			<button
				type="button"
				class="ph ph-check-square-offset"
				data-bs-toggle="dropdown"
				data-bs-display="static"
				data-bs-auto-close="outside"
				aria-expanded="false"
			>
				<span class="visually-hidden">Tasks</span>
			</button>
			<div class="dropdown-menu header-dropdown-menu">
				<div class="d-flex align-items-center px-4 h-11 flex-shrink-0">
					<div class="text-body-emphasis fw-medium">Ongoing Tasks</div>

					<div class="d-flex ms-auto gap-px me-n2">
						<button type="button" class="icon ph ph-check-circle">
							<span class="visually-hidden">Settings</span>
						</button>
						<button type="button" class="icon ph ph-app-window">
							<span class="visually-hidden">Open Tasks</span>
						</button>
						<button type="button" class="icon ph ph-gear">
							<span class="visually-hidden">Settings</span>
						</button>
					</div>
				</div>
				<div class="flex-grow-1 pt-2 mx-n2 px-2" data-simplebar>
					<div id="top-tasks"></div>
				</div>
			</div>
		</li>

		<!-- Shortcuts -->
		<li class="dropdown d-none d-sm-block">
			<button 
				type="button"
				class="ph ph-squares-four"
				data-bs-toggle="dropdown"
				data-bs-display="static"
				data-bs-auto-close="outside"
				aria-expanded="false"
			>
				<span class="visually-hidden">Shortcuts</span>
			</button>
			<div class="dropdown-menu header-dropdown-menu">
				<div class="d-flex align-items-center px-4 h-11 flex-shrink-0">
					<div class="text-body-emphasis fw-medium">Shortcuts</div>

					<div class="d-flex ms-auto gap-px me-n2">
						<button type="button" class="icon ph ph-plus-circle">
							<span class="visually-hidden">Add new</span>
						</button>
						<button type="button" class="icon ph ph-gear">
							<span class="visually-hidden">Settings</span>
						</button>
					</div>
				</div>
				<div class="flex-grow-1 pt-2" data-simplebar>
					<div id="top-shortcuts" class="row row-cols-3 g-3 px-4"></div>
				</div>
			</div>
		</li>

		<!-- Themes -->
		<li class="dropdown d-none d-sm-block">
			<button 
				type="button"
				class="ph ph-palette"
				data-bs-toggle="dropdown"
				data-bs-display="static"
				data-bs-auto-close="outside"
				aria-expanded="false"
			>
				<span class="visually-hidden">Theme Switch</span>
			</button>
			<div class="dropdown-menu header-dropdown-menu">
				<div class="d-flex align-items-center px-4 h-11 flex-shrink-0">
					<div class="text-body-emphasis fw-medium">Theme Switch</div>

					<div class="d-flex ms-auto gap-px me-n2">
						<button type="button" class="icon ph ph-arrow-counter-clockwise">
							<span class="visually-hidden">Reset</span>
						</button>
					</div>
				</div>
				<div class="flex-grow-1 pt-2 mx-n2 px-2" data-simplebar>
					<div id="top-themes" class="d-flex flex-column gap-3 pb-4 px-4"></div>
				</div>
			</div>
		</li>

		<!-- Languages -->
		<li class="dropdown d-none d-sm-block">
			<button type="button" data-bs-toggle="dropdown" aria-expanded="false">
				<img class="h-5 rounded-circle" src="../../img/flags/england.svg" alt="" />
			</button>

			<div class="dropdown-menu">
				<a href="" class="dropdown-item">
					<img class="h-5 rounded-circle" src="../../img/flags/japan.svg" alt="" />
					Japanese
				</a>
				<a href="" class="dropdown-item">
					<img class="h-5 rounded-circle" src="../../img/flags/germany.svg" alt="" />
					German
				</a>
				<a href="" class="dropdown-item">
					<img class="h-5 rounded-circle" src="../../img/flags/china.svg" alt="" />
					Chinese
				</a>
				<a href="" class="dropdown-item">
					<img class="h-5 rounded-circle" src="../../img/flags/france.svg" alt="" />
					French
				</a>
			</div>
		</li>

		<!-- Profile -->
		<li class="dropdown">
			<button type="button" class="p-2 h-11 w-11 rounded me-n0.5" data-bs-toggle="dropdown" aria-expanded="false">
				<img class="h-8 rounded" src="../../img/contacts/1.jpg" alt="" />
			</button>

			<div class="dropdown-menu">
				<a href="" class="dropdown-item">
					<i class="ph ph-user-circle"></i>
					Profile
				</a>
				<a href="" class="dropdown-item">
					<i class="ph ph-currency-circle-dollar"></i>
					Billing
				</a>
				<a href="" class="dropdown-item">
					<i class="ph ph-gear"></i>
					Preferences
				</a>
				<a href="" class="dropdown-item">
					<i class="ph ph-sign-out"></i>
					Logout
				</a>
			</div>
		</li>
	</ul>
</header>
