<div class="card">
	<div class="card-body">
		<div class="d-flex align-items-start mb-3">
			<h5 class="card-title m-0 flex-grow-1">
				Budget Utilization
			</h5>

			<div class="d-none d-sm-inline-flex gap-1 mt-n1.5 me-n1.5">
				<a href="" class="icon ph ph-info"></a>
				<a href="" class="icon ph ph-download d-none d-sm-flex"></a>
				<a href="" class="icon ph ph-printer d-none d-sm-flex"></a>
			</div>
		</div>

		<div class="chart">
			<canvas id="chart-budget-utilization"></canvas>
		</div>
	</div>
</div>
