<div class="card">
	<div class="card-body">
		<div class="d-flex align-items-start mb-7">
			<h5 class="card-title m-0 flex-grow-1">
				Tickets Reopened
			</h5>

			<div class="d-flex gap-1 mt-n1.5 me-n1.5">
				<a href="" class="icon ph ph-info"></a>
			</div>
		</div>

		<div class="row row-cols-3 g-2 mb-5">
			<div class="col">
				<div class="rounded border p-3 lh-1">
					<div class="fs-5 mb-1.5 text-body-emphasis">202</div>
					<div class="fs-7 text-body-secondary">Reopened Tickets</div>
				</div>
			</div>
			<div class="col">
				<div class="rounded border p-3 lh-1">
					<div class="fs-5 mb-1.5 text-body-emphasis">9.85%</div>
					<div class="fs-7 text-body-secondary">Percentage</div>
				</div>
			</div>
			<div class="col">
				<div class="rounded border p-3 lh-1">
					<div class="fs-5 mb-1.5 d-flex align-items-center">
						3.54%
						<i class="ph ph-arrow-circle-up ms-1"></i>
					</div>
					<div class="fs-7 text-body-secondary">vs. Previous Month</div>
				</div>
			</div>
		</div>

		<div class="chart chart-sm mb-1">
			<canvas id="chart-tickets-reopened"></canvas>
		</div>
	</div>
</div>
