<div class="content-header">
	<!-- Secondary sidebar toggle -->
	<module href="../_secondary-sidebar-toggle.html"></module>

	<div class="text-body-emphasis">All files and folders</div>

	<i class="ms-auto"></i>

	<nav class="align-items-center gap-1 d-none d-sm-flex">
		<button type="button" class="icon ph ph-check-circle">
			<span class="visually-hidden">Select</span>
		</button>
		<button type="button" class="icon ph ph-rows">
			<span class="visually-hidden">List view</span>
		</button>
		<button type="button" class="icon ph ph-squares-four">
			<span class="visually-hidden">Grid View</span>
		</button>
		<button type="button" class="icon ph ph-sort-ascending">
			<span class="visually-hidden">Sort</span>
		</button>
	</nav>

	<button type="button" class="btn btn-highlight ms-5">
		<i class="ph ph-upload"></i>
		Create
		<span class="ms-1 d-none d-sm-block">New</span>
	</button>
</div>
