.login{
    display: flex;
    align-items: center;
    height: 100vh;
    width: 100%;
    gap: 2rem;
    @media(max-width:768px) {
        margin-bottom: 60px;
    }
    &-futured{
        max-width: 1207px;
        width: 100%;
        height: 874px;
        position: relative;
        display: flex;
        align-items: flex-end;
        padding: 83px 140px;
        overflow: hidden;
        @media(max-width:1100px) {
            display: none;
        }
        .bg-video{
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            transform: scale(1.3);
            @media(max-width: 1700px) {
                transform: scaleY(2.5);
            }
        }
        &::before{
            content: "";
            width: 100%;
            height: 100%;
            position: absolute;
            left: 0;
            top: 50%;
            transform: translateY(-50%);
            background: linear-gradient(252deg, #92388C, #D20A60, #D8214C, #E55223, #EB6514, #FD7827);
            opacity: .87;
            mix-blend-mode: color;
            z-index: 1;
        }
        &::after{
            content: "";
            width: 260px;
            height: 100%;
            position: absolute;
            right: 0;
            top: 50%;
            transform: translateY(-50%);
            background-image: url('/assets/img/border.png');
            background-size: 100% 100%;
            z-index: 1;
        }
        &-main{
            position: relative;
            z-index: 2;
            color: #fff;
            h1{
                font-size: 56px;
                line-height: 60px;
                font-family: 'Gilroy-Light';
                b{
                    display: block;
                    font-family: 'Gilroy-Bold';
                }
            }
            p{
                font-family: 'Gilroy-Light';
                margin-top: 18px;
                a{
                    font-family: 'Gilroy-Bold';
                    color: inherit;
                }
            }
        }
    }

    &-form{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        max-width: 379px;
        width: 100%;
        margin: 0 auto;
        @media(max-width: 1700px) {
            margin-right: 2rem;
        }
        @media(max-width:1100px) {
           margin-right: auto;
        }
        @media(max-width:500px) {
            padding: 0 2rem;
        }
        &-logo{
            @media(max-width:768px) {
                max-width: 180px!important;
                width: 100%;
                margin-top: 2rem;
                svg{
                    width: 180px;
                    height: 100px;
                }
            }
        }
        &-logo.admin{
            max-width: 242px;
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            span{
                color: #D71C52;
                font-size: 30px;
                font-family: 'Gilroy-Medium';
                @media(max-width:768px) {
                    font-size: 20px;
                }
            }
        }
        &-main{
            margin-top: 107px;
            width: 100%;
            @media(max-width:768px) {
                margin-top: 60px;
            }
            .form-check{
                display: flex;
                justify-content: center;
                gap: 10px;
                margin-top: 2.5rem;
            }
            &.sms-put{
                display: flex;
                flex-direction: column;
                align-items: center;
                .timer{
                    color: #747474;
                    font-size: 30px;
                    font-family: 'Gilroy-SemiBold';
                }
                .sms-put-data{
                    max-width: 280px;
                    width: 100%;
                    margin-top: 73px;
                    p{
                        color: #767676;
                        font-family: 'Gilroy-Medium';
                        margin: 0;
                    }
                    .phone-screen{
                        font-size: 30px;
                        color: #434343;
                        font-family: 'Gilroy-Light';
                    }
                    &-form{
                        display: flex;
                        gap: 1rem;
                        margin-top: 1rem;
                        input{
                            width: 100%;
                            height: 79px;
                            border: 1px solid #DDDDDD;
                            border-radius: 12px;
                            font-size: 2rem;
                            outline: unset;
                            text-align: center;
                        }
                    }
                }
            }

            &.login-check{
                display: flex;
                flex-direction: column;
                align-items: center;
                position: relative;
                &::before{
                    // content: "";
                    width: 220px;
                    height: 220px;
                    background-color: #961E61;
                    mix-blend-mode: color;
                    position: absolute;
                    top: 0;
                    left: 50%;
                    transform: translateX(-50%);
                    z-index: 3;
                }
                p{
                    color: #767676;
                    text-align: center;
                    margin-top: 135px;
                    b{
                        font-size: 25px;
                        font-family: 'Gilroy-Bold';
                        display: block;
                    }

                    &.warning-text{
                        b{
                            font-size: 1rem;
                        }
                    }
                }
            }
        }
        .login-con{
            color: #767676;
            line-height: 22px;
            text-decoration: underline;
            font-family: 'Gilroy-Regular';
        }
        .session-change{
            border: 1px solid #D3D3D3;
            border-radius: 20px;            
            height: 40px;
            display: flex;
            align-items: center;
            color: #4B4B4B;
            font-family: 'Gilroy-Medium';
            text-decoration: unset;
            padding: 6px;
            padding-right: 19px;
            gap: 10px;
            margin-top: 40px;
            span{
                width: 28px;
                height: 28px;
                background-color: #D20A5F;
                border-radius: 50%;
                display: flex;
                align-items: center;
                justify-content: center;
            }
        }

       
    }
}