<div class="card">
	<div class="card-body">
		<div class="d-flex align-items-start mb-5">
			<h5 class="card-title m-0 flex-grow-1">
				Outbound Calls
			</h5>

			<div class="d-flex gap-1 mt-n1.5 me-n1.5">
				<a href="" class="icon ph ph-info"></a>
			</div>
		</div>

		<div class="chart mb-md-5">
			<canvas id="chart-outbound-calls"></canvas>
		</div>

		<ul class="chart-legends">
			<li>
				<i class="bg-warning"></i>
				Current week
			</li>
			<li>
				<i class="bg-black" style="--bs-bg-opacity: 0.35;"></i>
				Last week
			</li>
		</ul>
	</div>
</div>
