<div class="row row-cols-1 row-cols-sm-2 row-cols-lg-4 g-3 mb-3 lh-1">
	<div class="col">
		<div class="card p-5 flex-row">
			<i
				class="ph ph-user-circle-plus fs-2 w-11 h-11 me-4 d-flex align-items-center justify-content-center rounded bg-black flex-shrink-0"
				style="--bs-bg-opacity: 0.2"
			></i>
			<div class="flex-grow-1">
				<div class="d-flex align-items-center mb-1">
					<div class="fs-5 me-2 fw-medium mb-1 text-body-emphasis">324</div>

					<div
						class="badge bg-success rounded-pill fs-8 ms-auto d-inline-flex align-items-center mt-n1 bg-opacity-75"
					>
						<i class="ph ph-arrow-circle-up fs-6 me-1"></i>
						8.07%
					</div>
				</div>
				New leads today
			</div>
		</div>
	</div>
	<div class="col">
		<div class="card p-5 flex-row">
			<i
				class="ph ph-handshake fs-2 w-11 h-11 me-4 d-flex align-items-center justify-content-center rounded bg-black flex-shrink-0"
				style="--bs-bg-opacity: 0.2"
			></i>
			<div class="flex-grow-1">
				<div class="d-flex align-items-center mb-1">
					<div class="fs-5 me-2 fw-medium mb-1 text-body-emphasis">98</div>

					<div
						class="badge bg-danger rounded-pill fs-8 ms-auto d-inline-flex align-items-center mt-n1 bg-opacity-75"
					>
						<i class="ph ph-arrow-circle-up fs-6 me-1"></i>
						5.32%
					</div>
				</div>
				Opened Deals
			</div>
		</div>
	</div>
	<div class="col">
		<div class="card p-5 flex-row">
			<i
				class="ph ph-calendar-check fs-2 w-11 h-11 me-4 d-flex align-items-center justify-content-center rounded bg-black flex-shrink-0"
				style="--bs-bg-opacity: 0.2"
			></i>
			<div class="flex-grow-1">
				<div class="d-flex align-items-center mb-1">
					<div class="fs-5 me-2 fw-medium mb-1 text-body-emphasis">32</div>

					<div
						class="badge bg-success rounded-pill fs-8 ms-auto d-inline-flex align-items-center mt-n1 bg-opacity-75"
					>
						<i class="ph ph-arrow-circle-up fs-6 me-1"></i>
						2.32%
					</div>
				</div>
				Appointments
			</div>
		</div>
	</div>
	<div class="col">
		<div class="card p-5 flex-row">
			<i
				class="ph ph-lifebuoy fs-2 w-11 h-11 me-4 d-flex align-items-center justify-content-center rounded bg-black flex-shrink-0"
				style="--bs-bg-opacity: 0.2"
			></i>
			<div class="flex-grow-1">
				<div class="d-flex align-items-center mb-1">
					<div class="fs-5 me-2 fw-medium mb-1 text-body-emphasis">452</div>

					<div
						class="badge bg-success rounded-pill fs-8 ms-auto d-inline-flex align-items-center mt-n1 bg-opacity-75"
					>
						<i class="ph ph-arrow-circle-up fs-6 me-1"></i>
						33.47%
					</div>
				</div>
				Support Requests
			</div>
		</div>
	</div>
</div>
