<div class="row row-cols-1 row-cols-sm-2 row-cols-lg-4 g-4 mb-4 lh-1">
	<div class="col">
		<div class="card p-5 flex-row">
			<i
				class="ph ph-paper-plane-right fs-3 w-11 h-11 me-4 d-flex align-items-center justify-content-center rounded bg-black flex-shrink-0"
				style="--bs-bg-opacity: 0.2"
			></i>
			<div class="flex-grow-1">
				<div class="d-flex align-items-center mb-1">
					<div class="fs-5 me-2 fw-medium mb-1 text-body-emphasis">2,932</div>

					<div
						class="badge bg-danger rounded-pill fs-8 ms-auto d-inline-flex align-items-center mt-n1 bg-opacity-75"
					>
						<i class="ph ph-arrow-circle-down fs-6 me-1"></i>
						0.07%
					</div>
				</div>
				Email Sent

				<div class="progress h-1 mt-3" role="progressbar" aria-valuenow="72" aria-valuemin="0" aria-valuemax="100">
					<div class="progress-bar" style="width: 72%"></div>
				</div>
			</div>
		</div>
	</div>
	<div class="col">
		<div class="card p-5 flex-row">
			<i
				class="ph ph-seal-check fs-2 w-11 h-11 me-4 d-flex align-items-center justify-content-center rounded bg-black flex-shrink-0"
				style="--bs-bg-opacity: 0.2"
			></i>
			<div class="flex-grow-1">
				<div class="d-flex align-items-center mb-1">
					<div class="fs-5 me-2 fw-medium mb-1 text-body-emphasis">2,309</div>

					<div
						class="badge bg-success rounded-pill fs-8 ms-auto d-inline-flex align-items-center mt-n1 bg-opacity-75"
					>
						<i class="ph ph-arrow-circle-up fs-6 me-1"></i>
						2.24%
					</div>
				</div>
				Successful Deliveries

				<div class="progress h-1 mt-3" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100">
					<div class="progress-bar" style="width: 90%"></div>
				</div>
			</div>
		</div>
	</div>
	<div class="col">
		<div class="card p-5 flex-row">
			<i
				class="ph ph-envelope-open fs-3 w-11 h-11 me-4 d-flex align-items-center justify-content-center rounded bg-black flex-shrink-0"
				style="--bs-bg-opacity: 0.2"
			></i>
			<div class="flex-grow-1">
				<div class="d-flex align-items-center mb-1">
					<div class="fs-5 me-2 fw-medium mb-1 text-body-emphasis">1,736</div>

					<div
						class="badge bg-success rounded-pill fs-8 ms-auto d-inline-flex align-items-center mt-n1 bg-opacity-75"
					>
						<i class="ph ph-arrow-circle-up fs-6 me-1"></i>
						5.98%
					</div>
				</div>
				Opened Emails

				<div class="progress h-1 mt-3" role="progressbar" aria-valuenow="58" aria-valuemin="0" aria-valuemax="100">
					<div class="progress-bar" style="width: 58%"></div>
				</div>
			</div>
		</div>
	</div>
	<div class="col">
		<div class="card p-5 flex-row">
			<i
				class="ph ph-hand-pointing fs-2 w-11 h-11 me-4 d-flex align-items-center justify-content-center rounded bg-black flex-shrink-0"
				style="--bs-bg-opacity: 0.2"
			></i>
			<div class="flex-grow-1">
				<div class="d-flex align-items-center mb-1">
					<div class="fs-5 me-2 fw-medium mb-1 text-body-emphasis">14,473</div>

					<div
						class="badge bg-success rounded-pill fs-8 ms-auto d-inline-flex align-items-center mt-n1 bg-opacity-75"
					>
						<i class="ph ph-arrow-circle-up fs-6 me-1"></i>
						41.68%
					</div>
				</div>
				Total Clicks

				<div class="progress h-1 mt-3" role="progressbar" aria-valuenow="38" aria-valuemin="0" aria-valuemax="100">
					<div class="progress-bar" style="width: 38%"></div>
				</div>
			</div>
		</div>
	</div>
</div>
