<aside class="w-72 flex-shrink-0 h-100" id="sidebar-secondary">
	<button type="button" class="icon sidebar-close d-xl-none" id="sidebar-secondary-close">
		<i class="ph ph-x pe-none fs-5"></i>
		<span class="visually-hidden">Close</span>
	</button>
	<div class="content-body pt-1" data-simplebar>
		<div id="calendar-navigate" class="d-none d-sm-block mb-4 ms-n3"></div>

		<div class="fs-7 text-body-secondary mb-1 d-flex align-items-center">
			<div class="flex-grow-1">Current Events</div>
			<button type="button" class="icon ph ph-plus fs-6">
				<span class="visually-hidden">Add</span>
			</button>
		</div>

		<div id="calendar-events" class="ms-n2"></div>
	</div>
</aside>
