<aside class="content-sidebar" id="sidebar-secondary">
	<button type="button" class="icon sidebar-close d-xl-none" id="sidebar-secondary-close">
		<i class="ph ph-x pe-none fs-5"></i>
		<span class="visually-hidden">Close</span>
	</button>

	<header class="content-header">
		<h2 class="m-0 text-body-emphasis fs-6">Todo Lists</h2>
	</header>
	
	<div class="content-body pt-3" data-simplebar>
		<div class="fs-7 text-body-secondary mb-2 lh-1">Filters</div>

		<nav class="nav nav-pills flex-column mb-8 ms-n2.5">
			<a class="nav-link active" aria-current="page" href="#"><i class="ph ph-check-square-offset"></i>Everything</a>
			<a class="nav-link" href="#"><i class="ph ph-calendar-check"></i>Today</a>
			<a class="nav-link" href="#">
				<i class="ph ph-clock"></i>
				Upcoming
				<span class="badge bg-primary bg-opacity-50">29</span>
			</a>
			<a class="nav-link" href="#"><i class="ph ph-flag"></i>Important</a>
			<a class="nav-link" href="#"><i class="ph ph-archive"></i>Archive</a>
			<a class="nav-link" href="#"><i class="ph ph-trash"></i>Deleted Lists</a>
		</nav>

		<div class="fs-7 text-body-secondary mb-2 lh-1">Lists</div>

		<nav class="nav nav-pills flex-column mb-8 ms-n2.5">
			<a class="nav-link" href="#">
				<i class="ph ph-file-video"></i>
				Pending Emails
				<span class="badge bg-primary bg-opacity-50">23</span>
			</a>
			<a class="nav-link" href="#">
				<i class="ph ph-file-video"></i>
				Leads
			</a>
			<a class="nav-link" href="#">
				<i class="ph ph-file-video"></i>
				Marketing
				<span class="badge bg-primary bg-opacity-50">45</span>
			</a>
			<a class="nav-link" href="#">
				<i class="ph ph-file-video"></i>
				Pending Tests
				<span class="badge bg-primary bg-opacity-50">20</span>
			</a>
			<a class="nav-link" href="#">
				<i class="ph ph-file-video"></i>
				Project Management
				<span class="badge bg-primary bg-opacity-50">34</span>
			</a>
			<a class="nav-link" href="#">
				<i class="ph ph-file-video"></i>
				App Development
				<span class="badge bg-primary bg-opacity-50">12</span>
			</a>
			<a class="nav-link" href="#">
				<i class="ph ph-file-video"></i>
				Work
			</a>
			<a class="nav-link" href="#">
				<i class="ph ph-file-video"></i>
				Personal
			</a>
		</nav>
	</div>
</aside>
