<div class="content-header">
	<!-- Secondary sidebar toggle -->
	<module href="../_secondary-sidebar-toggle.html"></module>

	<div class="text-body-emphasis fw-medium">Everything</div>

	<nav class="d-flex align-items-center gap-1 me-n2 ms-auto">
		<button type="button" class="icon ph ph-chat-centered-text">
			<span class="visually-hidden">Comments</span>
		</button>
		<button type="button" class="icon ph ph-rows d-none d-sm-flex">
			<span class="visually-hidden">List view</span>
		</button>
		<button type="button" class="icon ph ph-squares-four d-none d-sm-flex">
			<span class="visually-hidden">Grid View</span>
		</button>
		<button type="button" class="icon ph ph-sort-ascending">
			<span class="visually-hidden">Sort</span>
		</button>
	</nav>

	<button type="button" class="btn btn-highlight ms-6">
		<i class="ph ph-list-plus"></i>
		Create
		<span class="ms-1 d-none d-sm-block">New</span>
	</button>
</div>
