<div class="content-header">
	<button type="button" class="icon ph ph-arrow-left ms-n2 d-md-none" data-sa-toggle="list">
		<span class="visually-hidden">Back</span>
	</button>

	<div class="d-flex ms-auto">
		<button type="button" class="icon-link d-none d-sm-inline-flex">
			<i class="ph ph-marker-circle"></i>
			Update
		</button>

		<button type="button" class="icon-link d-none d-sm-inline-flex">
			<i class="ph ph-minus-circle"></i>
			Delete
		</button>

		<div class="dropdown">
			<button class="icon ph ph-dots-three-circle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
				<span class="visually-hidden">More</span>
			</button>
			<div class="dropdown-menu dropdown-menu-end">
				<a class="dropdown-item" href="#"> <i class="ph ph-bookmark-simple me-2"></i>Mark as Important </a>
				<a class="dropdown-item" href="#"> <i class="ph ph-arrows-out-cardinal me-2"></i>Move to Group</a>
				<a class="dropdown-item" href="#"> <i class="ph ph-eye-closed me-2"></i>Hide</a>
				<a class="dropdown-item" href="#"> <i class="ph ph-printer me-2"></i>Print</a>
			</div>
		</div>

		<button type="button" class="btn btn-highlight ms-3">
			<i class="ph ph-user-circle-plus"></i>
			Create
			<span class="ms-1 d-none d-sm-block">Contact</span>
		</button>
	</div>
</div>
