<aside class="content-sidebar" id="sidebar-secondary">
	<button type="button" class="icon sidebar-close d-xl-none" id="sidebar-secondary-close">
		<i class="ph ph-x pe-none fs-5"></i>
		<span class="visually-hidden">Close</span>
	</button>

	<header class="content-header">
		<h2 class="m-0 text-body-emphasis fs-6">Contacts</h2>
	</header>

	<div class="content-body pt-3" data-simplebar>
		<div class="fs-7 text-body-secondary mb-3 lh-1">My Contacts</div>

		<nav class="nav nav-pills flex-column mb-8 ms-n2.5">
			<a class="nav-link active" aria-current="page" href="#"><i class="ph ph-user-rectangle"></i>All Contacts</a>
			<a class="nav-link" href="#"><i class="ph ph-heart"></i>Favourites</a>
			<a class="nav-link" href="#"><i class="ph ph-clock"></i>Frequently Contacted</a>
			<a class="nav-link" href="#"><i class="ph ph-users"></i>Duplicates</a>
			<a class="nav-link" href="#"><i class="ph ph-trash"></i>Deleted Contacts</a>
		</nav>

		<div class="fs-7 text-body-secondary mb-3 lh-1">Groups</div>

		<nav class="nav nav-pills flex-column mb-8 ms-n2.5">
			<a class="nav-link" href="#"><i class="ph ph-folder text-success"></i>Most Important</a>
			<a class="nav-link" href="#"><i class="ph ph-folder text-warning"></i>Work</a>
			<a class="nav-link" href="#"><i class="ph ph-folder text-primary"></i>Family</a>
			<a class="nav-link" href="#"><i class="ph ph-folder text-danger"></i>Projects</a>
			<a class="nav-link" href="#"><i class="ph ph-folder text-purple"></i>Recent Leads</a>
		</nav>

		<div class="fs-7 text-body-secondary mb-3 lh-1">Actions</div>

		<nav class="nav nav-pills flex-column ms-n2.5">
			<a class="nav-link" href="#"><i class="ph ph-upload-simple"></i>Import</a>
			<a class="nav-link" href="#"><i class="ph ph-download"></i>Export</a>
			<a class="nav-link" href="#"><i class="ph ph-printer"></i>Print</a>
		</nav>
	</div>
</aside>
