<aside class="content-sidebar w-md-64 w-lg-80 w-xxl-96" data-sa-block="list">
	<div class="content-header ps-xl-4">
		<!-- Secondary sidebar toggle -->
		<module href="../_secondary-sidebar-toggle.html"></module>

		<h2 class="m-0 text-body-emphasis fs-6">All Contacts</h2>

		<button type="button" class="icon ph ph-sort-ascending ms-auto me-n2">
			<span class="visually-hidden">Sort</span>
		</button>
	</div>

	<div class="content-body" data-simplebar>
		<div id="contacts-list"></div>
	</div>
</aside>
