<div class="p-1.5">
	<img class="object-fit-cover rounded-top rounded-bottom-1 mb-1.5 h-64 w-100" src="../../img/misc/cover.jpeg" alt="" />

	<nav class="nav nav-pills nav-scroll">
		<a class="nav-link {{ aboutActive }}" href="user-profile.html">About</a>
		<a class="nav-link {{ timelineActive }}" href="user-timeline.html">Timeline</a>
		<a class="nav-link {{ connectionsActive }}" href="user-connections.html">Connections</a>
		<a class="nav-link {{ photosActive }}" href="user-photos.html">Photos</a>
		<a class="nav-link" href="coming-soon.html">Events</a>
		<a class="nav-link" href="coming-soon.html">Bookmarks</a>
		<a class="nav-link" href="coming-soon.html">Activity Log</a>
	</nav>
</div>
