<div class="row row-cols-1 row-cols-sm-2 row-cols-lg-4 g-4 mb-4">
	<div class="col">
		<div class="card p-5 flex-row align-items-start lh-1">
			<div class="flex-grow-1">
				<div class="fs-4 me-2 mb-3 text-body-emphasis fw-medium">22432</div>
				<span class="text-body-secondary" style="--bs-text-opacity: 0.9">Orders Completed</span>
			</div>
			
			<div class="badge bg-success rounded-pill float-end fs-8 text-success-emphasis d-inline-flex align-items-center" style="--bs-bg-opacity: 0.1">
				<i class="ph ph-arrow-circle-up fs-6 me-1"></i>
				2.23%
			</div>
			
		</div>
	</div>

	<div class="col">
		<div class="card border-warning bg-warning bg-opacity-10 p-5 flex-row" style="--bs-border-opacity: 0.4">
			<div class="flex-grow-1 lh-1 text-body-emphasis">
				<div class="badge bg-success rounded-pill float-end fs-8 text-success-emphasis d-inline-flex align-items-center" style="--bs-bg-opacity: 0.1">
					<i class="ph ph-arrow-circle-up fs-6 me-1"></i>
					3.47%
				</div>
				<div class="fs-4 me-2 text-warning-emphasis mb-2">$324,091</div>
				<span class="text-warning">Total in Revenue</span>
			</div>
		</div>
	</div>

	<div class="col">
		<div class="card border-success bg-success p-5 flex-row" style="--bs-border-opacity: 0.25; --bs-bg-opacity: 0.05">
			<div class="flex-grow-1 lh-1 text-body-emphasis">
				<div class="badge bg-success rounded-pill float-end fs-8 text-success-emphasis d-inline-flex align-items-center" style="--bs-bg-opacity: 0.1">
					<i class="ph ph-arrow-circle-up fs-6 me-1"></i>
					5.32%
				</div>
				<div class="fs-4 me-2 text-success fw-medium mb-2">4532</div>
				<span class="text-success" style="--bs-text-opacity: 0.8">Completed Purchases</span>
			</div>
		</div>
	</div>

	<div class="col">
		<div class="card p-5 flex-row">
			<i class="bg-warning w-0.5 rounded me-3 h-10 bg-opacity-75"></i>
			<div class="flex-grow-1 lh-1 text-body-emphasis">
				<div class="badge bg-danger rounded-pill float-end fs-8 text-danger-emphasis d-inline-flex align-items-center" style="--bs-bg-opacity: 0.15">
					<i class="ph ph-arrow-circle-up fs-6 me-1"></i>
					0.98%
				</div>
				<div class="fs-4 me-2 text-warning mb-2">435</div>
				<span class="fw-medium">Return Requests</span>
			</div>
		</div>
	</div>
</div>
