<div class="card">
	<div class="card-body">
		<div class="d-flex align-items-start mb-3">
			<h5 class="card-title m-0 flex-grow-1">
				Store Sessions
			</h5>

			<div class="d-none d-sm-inline-flex gap-1 mt-n1.5 me-n1.5">
				<a href="" class="icon ph ph-download"></a>
				<a href="" class="icon ph ph-info"></a>
				<a href="" class="icon ph ph-dots-three-circle"></a>
			</div>
		</div>
		<div class="chart">
			<canvas id="chart-store-sessions"></canvas>
		</div>
	</div>
</div>
