//-------------------------------------
// Custom theme specific variables
//-------------------------------------
// Font family
$font-family-icon-light: "Phosphor";

// Header
$header-height: 3.75rem;

// Sidebar
$sidebar-width: 15rem;
$sidebar-z-index: 20;
$sidebar-min-bar-width: 3.9rem;