.popup
    position: fixed
    width: 100%
    height: 100%
    left: 0
    top: 0
    &.remove
        &::before
            animation: popup-background-reverse .3s  
            animation-fill-mode: both 
            animation-delay: .4s
        .main
            animation: popup-main-reverse .5s
            animation-fill-mode: both 
            animation-delay: .5 
            button.close
                animation: popup-close-reverse .2s
                animation-fill-mode: both 
    .main
        background: #ffffff
        max-width: 500px
        width: 95%
        height: calc(100% - 86px)
        position: relative
        transform: translateY(34px)
        z-index: 1
        border-radius: 30px
        padding: 1rem
        overflow: hidden
        display: flex
        flex-direction: column
        animation: popup-main .5s
        animation-delay: .3
        box-shadow: 0 3px 15px #00000029
        padding-top: 70px
        padding-left: 44px
        padding-right: 44px
        padding-bottom: 40px
        &.img-view
            max-height: unset
            height: unset
            background: unset
            overflow: unset
            button.close
                top: -20px
                svg
                    stroke: #ffffff
            .popup-img
                width: 100%            
        button.close
            position: absolute
            right: 41px
            top: 74px
            cursor: pointer
            animation: popup-close .2s
            animation-delay: .6s
            animation-fill-mode: both
            transform: scale(0)
            background: transparent
            padding: 0
            margin: 0
            border: none
            svg
                width: 14.73px
                height: 14.73px
        h2
            margin: 0      
            color: #3E3E3E
            font-size: 24px
            line-height: 28px
            font-weight: 400
            max-width: 60%
        .detail
            overflow: auto    
            height: calc(100% - 180px - 53px)   
            color: #888888
            font-size: 12px
            line-height: 16px
            &.kvkk
                margin-top: 61px
            &.login, &.success-popup, &.error-popup
                margin-top: 26px
                height: calc(100% - 150px)  
                h4
                    font-size: 16px
                    line-height: 18px
                    font-weight: 400  
                ul
                    display: flex
                    flex-direction: column
                    gap: 1rem    
                    padding: 0
                    margin: 0
                    li
                        padding-left: 18px
                        position: relative
                        &::before
                            content: ""
                            width: 5px
                            height: 5px
                            background: #585858
                            border-radius: 50%
                            position: absolute
                            left: 0
                            top: 5px
                .view
                    display: flex
                    justify-content: center
                    align-items: center
                    height: 100%
                    .icon
                        width: 259px
                        height: 259px
                        border-radius: 50%   
                        display: flex
                        justify-content: center
                        align-items: center 
                &.success-popup
                    .icon
                        background: #94C35B    
                        img
                            width: 133px 
                            height: 103px    
                &.error-popup
                    .icon
                        background: #FF2147 
                        width: 257px
                        height: 257px   
                        img
                            width: 133px 
                            height: 103px  
            &.login-popup
                height: 100%
                display: flex
                justify-content: center
                align-items: center  
                .view
                    height: 100%
                    display: flex
                    flex-direction: column
                    padding-bottom: 26px
                .icon
                    display: flex
                    flex-direction: column
                    justify-content: center
                    align-items: center 
                    gap: 32px
                    margin-top: auto
                    margin-bottom: auto
                    img
                        width: 133px 
                        height: 103px  
                    p
                        font-size: 24px
                        line-height: 28px
                        font-weight: 400  
                        color: #3E3E3E    
                        margin: 0 
                .info-box
                    background: #F0DEED
                    border: 1px solid #973487
                    border-radius: 10px
                    padding: 15px 30px 15px 15px     
                    color: #92388C
                    font-size: 14px
                    line-height: 18px
                    font-weight: 400
                    display: flex
                    flex-direction: column
                    gap: 1rem
                    &-head
                        display: flex
                        align-items: center
                        gap: .5rem
                        img
                            width: 18px
                            height: 18px
                    p
                        margin: 0                   
        .submit-button
            height: 60px
            width: 100%
            border: 1px solid #4D4D4D
            background: transparent
            border-radius: 30px
            display: flex
            align-items: center
            justify-content: center
            font-size: 16px
            line-height: 18px
            font-weight: 500
            color: #4D4D4D
            margin-top: auto
            gap: 20px
            .arrow
                width: 22px
                height: 10px
            &.w-214
                width: 214px;   
                margin: 0 auto 

@keyframes popup-background
    0%
        opacity: 0
    100%
        opacity: .7

@keyframes popup-main
    0%
        transform: translate(0, -1000%)
    100%
        transform: translate(0, 34px)

@keyframes popup-close
    0%
        transform: scale(0)
    100%
        transform: scale(1)
     
//REVERSE

@keyframes popup-background-reverse
    0%
        opacity: .7
    100%
        opacity: 0

@keyframes popup-main-reverse
    0%
        transform: translate(0, 34px)
    100%
        transform: translate(0, -1000%)    

@keyframes popup-close-reverse
    0%
        transform: scale(1)
    100%
        transform: scale(0)               
                
                
                    