<div class="content-header">
	<!-- Secondary sidebar toggle -->
	<module href="../_secondary-sidebar-toggle.html"></module>

	<button type="button" class="icon-link ms-n2" data-bs-toggle="modal" data-bs-target="#channelDetails">
		<span class="fw-medium text-body-emphasis">General</span>
		<i class="ph ph-caret-down fs-8"></i>
	</button>

	<i class="ms-auto"></i>

	<nav class="d-flex align-items-center gap-1 me-n2">
		<button type="button" class="icon ph ph-note">
			<span class="visually-hidden">Note</span>
		</button>
		<button type="button" class="icon ph ph-bookmark-simple">
			<span class="visually-hidden">Bookmarks</span>
		</button>
	</nav>

	<button type="button" class="btn btn-highlight ms-5">
		<i class="ph ph-chat-centered-dots"></i>
		New
		<span class="ms-1 d-none d-sm-block">Message</span>
	</button>
</div>
