<aside class="content-sidebar" id="sidebar-secondary">
	<button type="button" class="icon sidebar-close d-xl-none" id="sidebar-secondary-close">
		<i class="ph ph-x pe-none fs-5"></i>
		<span class="visually-hidden">Close</span>
	</button>

	<header class="content-header">
		<h2 class="m-0 text-body-emphasis fs-6">Messages</h2>
	</header>

	<div class="content-body pt-3" data-simplebar>
		<div class="fs-7 text-body-secondary mb-2 lh-1">Channels</div>

		<nav class="nav nav-pills flex-column mb-8 ms-n2.5">
			<a class="nav-link active" aria-current="page" href="#"><i class="ph ph-hash-straight"></i>General</a>
			<a class="nav-link mb-1" href="#"><i class="ph ph-hash-straight"></i>Art and Design</a>
			<a class="nav-link" href="#"><i class="ph ph-hash-straight"></i>Technology</a>
			<a class="nav-link" href="#"><i class="ph ph-hash-straight"></i>Announcements</a>
			<a class="nav-link" href="#"><i class="ph ph-hash-straight"></i>Product Releases</a>
		</nav>

		<div class="fs-7 text-body-secondary mb-2 lh-1">Direct Messages</div>

		<nav id="direct-messages" class="nav nav-pills ms-n2.5"></nav>
	</div>
</aside>
