<!-- Page loader -->
<div class="content-header">
	<module href="../_sidebar-toggle.html"></module>

	<h2 class="m-0 ps-3 text-body-emphasis fs-6">Messages</h2>

	<div class="content-search ms-10 d-none d-lg-flex">
		<i class="ph ph-magnifying-glass fs-5"></i>
		<input type="text" class="form-control" placeholder="Search Messages..." />
	</div>

	<i class="ms-auto"></i>

	<div class="d-flex me-3 gap-1">
		<a href="" class="icon ph ph-info"></a>
		<a href="" class="icon ph ph-gear d-none d-md-flex"></a>
		<a href="" class="icon ph ph-dots-three-circle"></a>
	</div>

	<button type="button" class="btn btn-highlight">
		<i class="ph ph-pencil-simple-line"></i>
		New
		<span class="ms-1 d-none d-sm-block">Message</span>
	</button>
</div>
