.breadcrumb{
    display: flex;
    gap: 1rem;
    margin: 0;
    padding: 0;
    li{
        color: #B1B1B1;
        font-family: 'Gilroy-Bold';
        position: relative;
        &:after{
            content: "";
            width: 4px;
            height: 4px;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            right: -.6rem;
            background-color: #B1B1B1;
            border-radius: 50%;
        }
        &:last-child{
            &::after{
                content: unset;
            }
        }
        a{
            color: inherit;
            text-decoration: unset;
            font-family: 'Gilroy-Light';
        }
    }
}