<div class="d-flex align-items-start mb-3">
	<a href="">
		<img src="../../img/contacts/{{ img }}.jpg" class="w-10 rounded-circle me-3" alt="" />
	</a>
	<div class="flex-grow-1">
		<div class="bg-highlight p-3 rounded fs-7">
			<a href="" class="me-2 fw-medium">{{ name }}</a> 
			{{ comment }}
		</div>
		<div class="d-flex align-items-center fs-7 mx-3 text-body-secondary">
			<a href="">Like</a>
			<i class="ph ph-dot fs-3 mx-n1"></i>
			<a href="">Comment</a>
			<i class="ph ph-dot fs-3 mx-n1"></i>`
			<a href="">Report</a>

			<div class="ms-auto">{{ time }}</div>
		</div>
	</div>
</div>
