@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

//Gilroy
@font-face {
    font-family: 'Gilroy-Black';
    src: url('../vendor/Font/Gilroy/Gilroy-Black.ttf') format('truetype'); 
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Gilroy-BlackItalic';
    src: url('../vendor/Font/Gilroy/Gilroy-BlackItalic.ttf') format('truetype'); 
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Gilroy-Bold';
    src: url('../vendor/Font/Gilroy/Gilroy-Bold.ttf') format('truetype'); 
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Gilroy-BoldItalic';
    src: url('../vendor/Font/Gilroy/Gilroy-BoldItalic.ttf') format('truetype'); 
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Gilroy-ExtraBold';
    src: url('../vendor/Font/Gilroy/Gilroy-ExtraBold.ttf') format('truetype'); 
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Gilroy-ExtraBoldItalic';
    src: url('../vendor/Font/Gilroy/Gilroy-ExtraBoldItalic.ttf') format('truetype'); 
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Gilroy-Heavy';
    src: url('../vendor/Font/Gilroy/Gilroy-Heavy.ttf') format('truetype'); 
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Gilroy-HeavyItalic';
    src: url('../vendor/Font/Gilroy/Gilroy-HeavyItalic.ttf') format('truetype'); 
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Gilroy-Light';
    src: url('../vendor/Font/Gilroy/Gilroy-Light.ttf') format('truetype'); 
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Gilroy-LightItalic';
    src: url('../vendor/Font/Gilroy/Gilroy-LightItalic.ttf') format('truetype'); 
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Gilroy-Medium';
    src: url('../vendor/Font/Gilroy/Gilroy-Medium.ttf') format('truetype'); 
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Gilroy-MediumItalic';
    src: url('../vendor/Font/Gilroy/Gilroy-MediumItalic.ttf') format('truetype'); 
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Gilroy-Regular';
    src: url('../vendor/Font/Gilroy/Gilroy-Regular.ttf') format('truetype'); 
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Gilroy-RegularItalic';
    src: url('../vendor/Font/Gilroy/Gilroy-RegularItalic.ttf') format('truetype'); 
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Gilroy-SemiBold';
    src: url('../vendor/Font/Gilroy/Gilroy-SemiBold.ttf') format('truetype'); 
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Gilroy-SemiBoldItalic';
    src: url('../vendor/Font/Gilroy/Gilroy-SemiBoldItalic.ttf') format('truetype'); 
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Gilroy-Thin';
    src: url('../vendor/Font/Gilroy/Gilroy-Thin.ttf') format('truetype'); 
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Gilroy-ThinItalic';
    src: url('../vendor/Font/Gilroy/Gilroy-ThinItalic.ttf') format('truetype'); 
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Gilroy-UltraLight';
    src: url('../vendor/Font/Gilroy/Gilroy-UltraLight.ttf') format('truetype'); 
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Gilroy-UltraLightItalic';
    src: url('../vendor/Font/Gilroy/Gilroy-UltraLightItalic.ttf') format('truetype'); 
    font-weight: normal;
    font-style: normal;
}