<div class="content-header" id="photos-header">
	<!-- Secondary sidebar toggle -->
	<module href="../_secondary-sidebar-toggle.html"></module>

	<div class="text-body-emphasis fw-medium">Everything</div>

	<i class="ms-auto"></i>

	<nav class="d-flex align-items-center gap-1 me-n2">
		<button type="button" class="icon ph ph-check-circle">
			<span class="visually-hidden">check</span>
		</button>
		<button type="button" class="icon ph ph-squares-four d-none d-sm-flex">
			<span class="visually-hidden">Thumbnail size</span>
		</button>
		<button type="button" class="icon ph ph-slideshow">
			<span class="visually-hidden">Slideshow</span>
		</button>
		<button type="button" class="icon ph ph-sort-ascending d-none d-sm-flex">
			<span class="visually-hidden">Sort</span>
		</button>
	</nav>

	<button type="button" class="btn btn-highlight ms-6">
		<i class="ph ph-upload"></i>
		Upload
		<span class="ms-1 d-none d-sm-block">Photos</span>
	</button>
</div>

<div class="content-header d-none" id="photos-actions">
	<button type="button" id="photos-clear" class="icon ph ph-arrow-left ms-n2 me-3">
		<span class="visually-hidden">Clear</span>
	</button>

	<div class="text-body-emphasis">
		<span id="photos-amount"></span>
		Selected
	</div>

	<nav class="d-flex align-items-center gap-1 ms-auto">
		<a class="icon ph ph-plus" href=""></a>
		<a class="icon ph ph-share-fat" href=""></a>
		<a class="icon ph ph-trash" href=""></a>

		<div class="dropdown">
			<button class="icon ph ph-dots-three-circle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
				<span class="visually-hidden">More</span>
			</button>

			<div class="dropdown-menu">
				<a href="" class="dropdown-item">
					<i class="ph ph-download-simple"></i>
					Download
				</a>
				<a href="" class="dropdown-item">
					<i class="ph ph-heart"></i>
					Favorite
				</a>
				<a href="" class="dropdown-item">
					<i class="ph ph-calendar"> </i>
					Edit Date and Time
				</a>
				<a href="" class="dropdown-item">
					<i class="ph ph-map-pin"></i>
					Edit Location
				</a>
				<a href="" class="dropdown-item">
					<i class="ph ph-archive"></i>
					Archive
				</a>
			</div>
		</div>
	</nav>
</div>
