<aside class="content-sidebar" id="sidebar-secondary">
	<button type="button" class="icon sidebar-close d-xl-none" id="sidebar-secondary-close">
		<i class="ph ph-x pe-none fs-5"></i>
		<span class="visually-hidden">Close</span>
	</button>

	<header class="content-header">
		<h2 class="m-0 text-body-emphasis fs-6">Photos</h2>
	</header>
	
	<div class="content-body pt-3" data-simplebar>
		<div class="fs-7 text-body-secondary mb-2 lh-1">Library</div>

		<nav class="nav nav-pills flex-column mb-8 ms-n2.5">
			<a class="nav-link active" aria-current="page" href="#"><i class="ph ph-images"></i>Everything</a>
			<a class="nav-link" href="#"><i class="ph ph-video"></i>Videos</a>
			<a class="nav-link" href="#"><i class="ph ph-share-network"></i>Sharing</a>
			<a class="nav-link" href="#"><i class="ph ph-heart"></i>Favourites</a>
			<a class="nav-link" href="#"><i class="ph ph-trash"></i>Deleted Photos</a>
		</nav>

		<div class="fs-7 text-body-secondary mb-2 lh-1">Albums</div>

		<nav class="nav nav-pills flex-column mb-8 ms-n2.5">
			<a class="nav-link" href="#"><i class="ph ph-image-square"></i>Textures & Patterns</a>
			<a class="nav-link" href="#"><i class="ph ph-image-square"></i>Business & Work</a>
			<a class="nav-link" href="#"><i class="ph ph-image-square"></i>Fashion</a>
			<a class="nav-link" href="#"><i class="ph ph-image-square"></i>Food & Drink</a>
			<a class="nav-link" href="#"><i class="ph ph-image-square"></i>Arts & Culture</a>
			<a class="nav-link" href="#"><i class="ph ph-image-square"></i>Travel</a>
			<a class="nav-link" href="#"><i class="ph ph-image-square"></i>Architecture</a>
		</nav>
	</div>
</aside>
